{:company/legal-name "Keolis SA"
 :company/lei "969500568M45LZ4WYF39"
 :company/jurisdiction "FR"
 :company/website "https://www.keolis.com"
 :company/ticker "unlisted (70% SNCF / 30% Caisse de dépôt et placement du Québec since 2012)"}
