[["keolis-legal-1" :tos/full-text "Informations Légales et Responsabilités | Keolis
Allez à la recherche
Allez au contenu principal
Allez au pied de page
Groupe
Groupe
Essentiel
Stratégie
Gouvernance
Éthique
Engagements
Engagements
Planète
Collaborateurs
Clients & partenaires
Passagers
Savoir-Faire
Savoir-Faire
Modes de transport
Expertises
Métro
Tramway
Train
Bus & Cars
Transport à la demande
Mobilité autonome
Vélo
Transport fluvial & maritime
Transport de personnes à mobilité réduite
Transport sanitaire
Stationnement
Location d'autocar avec chauffeur
Transition énergétique
Excellence opérationnelle
Sécurité & sureté
Expérience voyageur
Multimodalité
SERM
Innovation
Innovation
Innover chez Keolis
Open by Keolis : La série
Observatoire Keoscopie
Lab Open by Keolis
Nous rejoindre
Nous rejoindre
Marque employeur
Métiers
Engagements RH
Carrière
CFA
Espace média
Espace média
Actualités
Communiqués de presse
Publications
Offres
Pulse
fr
en
Mentions légales
Accueil
Mentions légales
Date de publication 30 mai 2024
Temps de lecture 8 min
Je partage
L’édition du site est assurée par : Keolis
Société anonyme au capital de 399 793 620 euros, dont le siège social est au 34 Avenue Léonard De Vinci à Courbevoie (92400), immatriculée auprès du Registre du Commerce et des Sociétés de NANTERRE, sous le numéro 552 111 809.
Directeur de publication : Catherine MIRET, Directrice Adjointe Communication Groupe
Animation éditoriale : Julie Borrelly, Cheffe de projet Communication Digitale
Intégration et développement : Direction des Sytèmes d'Information, Groupe Keolis
Téléphone : 01 71 32 90 00
Numéro de TVA intracommunautaire est FR08 552 111 809.
Conseil, conception-création : agence DAGOBERT
Hébergement : Microsoft Azure – Société par actions simplifiées
Siège social : 39 quai du président Roosevelt – 92130 Issy-les-Moulineaux
N° Télephone : +33 9 70 01 90 90
Capital social : 4 240 000 €
SIRET : 32773318400516
SIREN : 327733184
Numéro de TVA intracommunautaire: FR95327733184
Conditions générales d'utilisation
1. OBJET
La Société Keolis a fait le choix d’éditer, animer et mettre à disposition le site internet www.keolis.com (ci-après le « Site »), ayant pour objectif principal de communiquer des informations sur le Groupe Keolis, ses activités et actualités.
Les présentes conditions générales d’utilisation (ci-après les « CGU ») ont pour objet de définir les conditions dans lesquelles, les utilisateurs sont habilités à se connecter au Site. Tout accès au Site entraînant automatiquement l’application des CGU, l’utilisateur est réputé avoir lu et accepté sans réserve les CGU lorsqu’il consulte sur le Site.
Les CGU applicables sont celles en vigueur à la date de chaque connexion de l’utilisateur au Site. Il est précisé que la Société Keolis reste libre, à tout moment d'enrichir, modifier, corriger ou supprimer tout ou partie des CGU. Ces modifications seront considérées comme ayant été portées à la connaissance des utilisateurs du simple fait de leur mise en ligne. Dès lors, elles sont réputées acceptées sans réserve par tout utilisateur accédant au Site postérieurement à leur mise en ligne. Par conséquent, l’utilisateur est invité à s’y référer lors de chaque visite afin de prendre connaissance de leur dernière version disponible sur le Site.
2. ACCÈS AU SITE
Toute personne peut accéder au Site à titre gratuit. Tous les frais supportés par l’utilisateur pour accéder au Site (matériel informatique, logiciels, etc.) sont à sa charge.
La Société Keolis se réserve le droit de modifier, de suspendre, de restreindre ou d'interrompre l'accès à tout ou partie du Site, en ce compris l’accès à son contenu et à ses fonctionnalités, ou encore les heures de disponibilité du Site, et ce, sans préavis.
3. PROPRIÉTÉ INTELLECTUELLE
3.1 PRINCIPES GÉNÉRAUX
Le Site et tous les éléments qui le constituent (notamment les textes, présentations, vidéos, photographies, les documents téléchargeables, marques et logos...), les logiciels rattachés, sont protégés par des droits de propriété intellectuelle et des droits voisins, réservés aux seuls titulaires de ces droits.
Sauf dans les cas permis par la Société Keolis, et à l'exception notamment des reproductions sans modifications ni altérations faites à des fins de copie personnelle et privée conformément à l'article L.122-5, 2° du Code de la propriété intellectuelle, toute utilisation, exploitation, reproduction, représentation, diffusion, édition ou publication, partielle ou totale, du Site et/ou des éléments qui le constituent, sous quelque forme/format que ce soit, sur quelque support que ce soit et pour quelque finalité que ce soit (commerciale, publicitaire…) est strictement interdite et sanctionnée par la loi.
3.2 DROITS D’AUTEUR
Les obligations mentionnées au paragraphe précédent ne s’appliquent pas aux journalistes et éditeurs de presse uniquement pour ce qui est des droits d’auteur relatif au contenu présent au sein des onglets « communiqués de presse » et « médiathèque ». La Société Keolis met à leur disposition des documents iconographiques et dossiers de presse qu’ils peuvent utiliser, reproduire, représenter, diffuser, éditer et publier, pour illustrer leurs articles et travaux de presse, sous réserve que soient indiqués clairement le nom de l'auteur, si ce dernier est disponible, et la source.
4. DONNÉES PERSONNELLES
La société Keolis, en tant que responsable de traitement, collecte et traite les informations personnelles que vous pouvez communiquer sur ce site, notamment au travers de nos formulaires afin de :
Traiter et gérer vos demandes d’informations, au sein de la rubrique « contact » ;
Traiter et gérer vos candidatures ;
Traiter vos demandes de droits ;
Gérer les cookies.
L’utilisateur s’engage à communiquer les données nécessaires à la prise en compte et au traitement de sa demande et à communiquer des informations exactes.
Conformément à la règlementation applicable, vous disposez d’un droit d’accès, de rectification, d’effacement, de portabilité et de limitation de vos données personnelles. Ainsi qu’un droit de retrait de votre consentement pour transmettre votre demande aux filiales du groupe Keolis. Vous pouvez exercer ces droits auprès de notre Délégué à la Protection des données en cliquant ici .
Pour plus d'informations, veuillez-vous référer à la  politique de confidentialité  du Site.
5. COOKIES ET LIENS HYPERTEXTES
5.1 COOKIES
Des cookies sont déposés sur votre terminal lors de la consultation du Site. Pour plus d'informations sur les cookies déposés, leur durée de conservation et la possibilité de les paramétrer, veuillez-vous référer à la  Politique de gestion des cookies  du Site.
5.2 LIENS HYPERTEXTES
La mise en place d'un lien hypertexte vers le Site nécessite une autorisation expresse et préalable de la Société Keolis. Toute demande de mise en place d’un lien hypertexte vers le Site doit être adressée via le formulaire de contact, au sein de l’onglet intitulé « Contact ».
Le Site permet aux utilisateurs d’être redirigés vers des sites internet et services de tiers via un lien hypertexte à partir du Site, notamment via des boutons (X, YouTube…). Les utilisateurs peuvent ainsi visualiser, par exemple, les Tweets publiés sur le compte  @GroupeKeolis  sur X.
L’utilisateur reconnaît que la Société Keolis est indépendante de ces sites internet et services fournis par des tiers. Toute utilisation de ces services sera soumise aux conditions d’utilisation et/ou de vente propres à chaque tiers offrant ces services. La responsabilité de la Société Keolis ne saurait être recherchée du fait du contenu accessible, de l’ensemble des offres, informations consultées ou transactions réalisées via les services offerts par des tiers. De la même façon, la Société Keolis n’offre aucune garantie quant au respect de la réglementation applicable par les éditeurs et hébergeurs de ces services dont ils sont seuls responsables.
6. RESPONSABILITÉ
Malgré tous les soins apportés pour la constitution et la mise à jour du Site, la Société Keolis ne garantit pas que le Site sera exempt d’anomalies, d’erreurs, inexactitudes ou omissions., ni que celles-ci pourront être corrigées, ni encore qu’il soit compatible avec le matériel ou une configuration particulière autre que celle expressément validée par la Société Keolis.
La Société Keolis s’engage à faire ses meilleurs efforts afin de fournir une information complète sur ses activités et actualités du Groupe mais ne peut garantir ni l’exactitude, ni l’exhaustivité des informations de ce Site et se réserve le droit de les modifier à tout moment et ce, sans notification préalable.
De plus, la Société Keolis fera ses meilleurs efforts pour garantir l’accessibilité du Site, cependant des problèmes de connexion ou d'interruption dans la connexion au Site peuvent survenir. En effet, cette accessibilité peut être suspendue notamment pour des raisons de maintenance et/ou de qualité du réseau internet. La Société Keolis n’offre aucune garantie concernant les risques d’interruption ou de dysfonctionnement liés à la connexion, à l’encombrement des réseaux et/ou des systèmes informatiques, à l’intrusion de tiers non autorisés et à la contamination par d’éventuels virus circulant sur lesdits réseaux et/ou les systèmes informatiques.
En aucun cas, la société Keolis ou tout tiers mentionné sur ce Site, ne pourra être tenu pour responsable des dommages, qu'elle qu'en soit la nature, imputables à l'utilisation, à l'impossibilité d'utiliser ou aux résultats de l'utilisation du Site ou de sites reliés au Site, ou imputables à des documents contenus dans le Site.
L’utilisateur reconnaît connaître les caractéristiques et les limites de l'Internet, en particulier ses performances techniques, les temps de réponse pour consulter, interroger ou transférer des données et les risques liés à la sécurité des communications.
L’existence d’un lien hypertexte du Site vers un autre site internet ne constitue en aucun cas une validation dudit site ou de son contenu et ne pourra pas engager la responsabilité de la Société Keolis.
Sauf cas de force majeure, faute de l’utilisateur ou fait d’un tiers, la responsabilité de la Société Keolis pourra être engagée, au titre d’un manquement aux obligations qui pèsent sur elle au titre des présentes CGU, l’utilisateur lésé pourra réclamer l’indemnisation intégrale de son préjudice tous dommages confondus, étant entendu que la Société Keolis ne sera pas responsable des dommages indirects, les parties s’en rapportant aux dispositions de l’article 1231-4 du Code civil en ce qui concerne leur qualification. En tous les cas, la responsabilité de la Société Keolis ne saurait être limitée et/ou exclue en cas de dommage corporel, faute lourde ou bien encore faute dolosive.
7. FORCE MAJEURE
Tout évènement dû à un cas de force majeure, au sens de l’article 1218 du Code civil et de la jurisprudence des cours et tribunaux, ayant notamment pour conséquence un dysfonctionnement du réseau internet ou du serveur n’engage pas la responsabilité de la Société Keolis.
8 . DROIT APPLICABLE
Tout litige en relation avec l’utilisation de ce Site est soumis au droit français.
Les présentes CGU sont soumises au droit français.
Elles sont établies en Français, nonobstant toute traduction qui pourrait en être faite par ailleurs. En tout état de cause, la version en français des CGU primera sur toute autre version en langue étrangère.
En cas de différend relatif à la validité, l'interprétation ou l'exécution des CGU, la Société Keolis et l’utilisateur conviennent de se rapprocher et de tenter de trouver une solution amiable à leur litige dans un délai de soixante (60) jours calendaires. En cas d’échec dans la recherche d’une solution amiable, tout différend relatif à l'interprétation, la validité, et/ou l'exécution des CGU sera soumis aux tribunaux compétents, y compris en cas de pluralité de défendeurs ou appel en garantie, pour les procédures tendant à obtenir des mesures d'urgence ou conservatoires, en référé ou sur requête.
Groupe
Mieux nous connaître
Nos engagements
Nos expertises
Nos modes de transport
Carrières
Média
Communiqués de presse
Actualités
Publications
Rapport intégré
Pulse
Plus d'informations
Alerte éthique
Crédits
Fournisseurs
Contact
Liens utiles
Site carrière
Lab Open by Keolis
Keolis voyages
SNCF
Suivez-nous
@ Keolis - 2026
Mentions légales
Politique de confidentialité
Politique gestion des cookies
Préférences cookies
Accessibilité - Partiellement conforme" 1 :add]
 ["keolis-legal-1" :tos/source-url "https://www.keolis.com/mentions-legales" 1 :add]
 ["keolis-legal-1" :tos/retrieved-at "2026-07-19T08:43:15Z" 1 :add]
 ["keolis-legal-1" :tos/sha256 "39a74bdbbb3b937be45b13cd97636da345c5c4ba77c62cca16ab5386042f8df1" 1 :add]
 ["keolis-legal-1" :tos/doc-type :terms-of-service 1 :add]]
